<div class="container-fluid h-100">
  <div class="row h-100">
    <nav class="col-md-2 d-none d-md-block sidebar">
      <header class="account text-light">
        <%= image_tag("icon.png", class: "account_icon d-inline-block") %>
        <span class="lead d-flex"><%= @current_user.login_id %></span>
      </header>
      <div class="p-3 text-light">
        <h2>Members</h2>
        <ol class="list-group list-group-flush">
          <%= render @users if @users.any? %>
        </ol>
      </div>
    </nav>
    <article class="col-md-9 ml-sm-auto col-lg-10 p-0 d-flex flex-column h-100 main">
      <header class="header chat-header">
        <h2 class="lead text-light p-4">Group <%= @group.id %></h2>
        <a href="" class="sign-out ml-auto btn btn-link btn-lg rounded-0 text-light">Sign out</a>
      </header>
      <main>
        <ul id="chat_list" class="list-group list-group-flush">
          <%= render @chats if @chats.any? %>
        </ul>
      </main>
      <footer class="p-4 mt-auto text-dark">
        <%= form_for (:chat), html: {id: 'message_form'} do |f| %>
          <div class="d-flex justify-content-between">
            <%= f.text_field :text, id: 'chat_input', class: 'form-control form-control-lg m-1', placeholder: 'メッセージを入力' %>
            <%= f.hidden_field :user_login_id, value: current_user.login_id %>
            <%= f.hidden_field :group_id, value: @group.id %>
            <%= f.submit "送信", class: "btn btn-lg btn-outline-secondary m-1" %>
          </div>
        <% end %>
      </footer>
    </article>
  </div>
</div>
